*{
    box-sizing: border-box;
}

:root {
    --blue: #31344D;
    --teal: #92CCCE;
    --textcolor: #445877;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0;
}

header {
    padding: 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--blue);

}

header h1{
    color: var(--textcolor);
    background-color: var(--teal);
    padding: 5 1% 5px 6%;
    font-size: 4vw;
    line-height: 1;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a { 
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    color: var(--teal);
    background-image: linear-gradient(280deg, var(--teal) 0%, var(--teal) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    font-size: 1.4em;
    transition: all .25s ease-in;
}

nav a:hover{
    background-size: 100% 100%;
    color: var(--blue);
}

.hero-banner{
    height: 450px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./images/hero_banner_faq.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}

section div h2 {
    display: flex;
    align-content: flex-end;
    background-color: var(--teal);
    padding: 5px 1% 6px 2%;
    justify-content:right;
}

.body {
    display: flex;
    flex-wrap: wrap;
    background-repeat:no-repeat ;
    color: var(--textcolor);
    justify-content: flex-start;
    background-color: var(--teal);
    font-size: 25px;
    background-position: right;
    background-size: 100% 0.2em;
}